BaltbetProj/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BaltbetWCF" />
  <xs:element name="GetPlayers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BaltbetWCF" minOccurs="0" name="GetPlayersResult" nillable="true" type="q1:ArrayOfPlayers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Command_Text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BaltbetWCF" minOccurs="0" name="GetBetsResult" nillable="true" type="q2:ArrayOfBets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadBet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BaltbetWCF" minOccurs="0" name="bet" nillable="true" type="q3:Bets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadBetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadBetResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BaltbetWCF" minOccurs="0" name="player" nillable="true" type="q4:Players" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBalanceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>